In [82]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [85]:
%cd /content/drive/MyDrive/ece1786/Final-project/old_data

/content/drive/MyDrive/ece1786/Final-project/old_data

In [86]:
import pandas as pd

In [87]:
gics_mapping = pd.read_excel("gics_with_codes.xlsx")
gics_mapping

,Sector_id,Sector_name,Industry_Group_id,Industry_Group_name,Industry_id,Industry_name,Sub_Industry_id,Sub_Industry_name
0,10.0,Energy,1010,Energy,101010.0,Energy Equipment & Services,10101010,Oil & Gas Drilling
1,NaN,NaN,1010,Energy,NaN,NaN,10101020,Oil & Gas Equipment & Services
2,NaN,NaN,1010,Energy,101020.0,"Oil, Gas & Consumable Fuels",10102010,Integrated Oil & Gas
3,NaN,NaN,1010,Energy,NaN,NaN,10102020,Oil & Gas Exploration & Production
4,NaN,NaN,1010,Energy,NaN,NaN,10102030,Oil & Gas Refining & Marketing
...,...,...,...,...,...,...,...,...
153,NaN,NaN,6010,Real Estate,NaN,NaN,60101080,Specialized REITs
154,NaN,NaN,6010,Real Estate,601020.0,Real Estate Management & Development,60102010,Diversified Real Estate Activities
155,NaN,NaN,6010,Real Estate,NaN,NaN,60102020,Real Estate Operating Companies
156,NaN,NaN,6010,Real Estate,NaN,NaN,60102030,Real Estate Development
157,NaN,NaN,6010,Real Estate,NaN,NaN,60102040,Real Estate Services

In [88]:
tickers = pd.read_csv("ticker_to_gics.csv")
tickers

     ticker      code
0         A  35203010
1        AA  15104010
2       AAL  20302010
3       AAN  25504060
4      AAOI  45201020
...     ...       ...
2959    ZTS  35202010
2960   ZUMZ  25504010
2961    ZUO  45103020
2962   ZYNE  35202010
2963   ZYXI  35101010

[2964 rows x 2 columns]

In [89]:
%cd /content/drive/MyDrive/ece1786/Final-project/data_from_git

/content/drive/MyDrive/ece1786/Final-project/data_from_git

In [90]:
git_1 = pd.read_csv("JHTALIB_US_sample.csv", encoding='cp1252')
git_2 = pd.read_csv("WRDS output - Russell companies info.csv")
git_3 = pd.read_csv("classifications.csv")
git_4 = pd.read_csv("company_bio.csv")
git_5 = pd.read_csv("industry_codes.csv")
git_6 = pd.read_csv("tic_rev_ind.csv")

In [91]:
display(git_1)

for tick, ind_group_code in zip(list(git_1["yahoo_ticker"]), list(git_1["feature_G_subindustry"])):
  new_row = {'ticker':tick, 'code':int(ind_group_code)}
  tickers = tickers.append(new_row, ignore_index=True)

,bloomberg_ticker,yahoo_ticker,feature_ID3,feature_ID4,feature_name,feature_shares,feature_G_subindustry,feature_B_code,feature_cl_B_industry_sub_l1,feature_cl_B_industry_sub_l2_code
0,A US,A,US00846U1016,2520153,AGILENT TECH INC,318769547,35203010,161012.0,16.0,1610.0
1,AA US,AA,US0138175072,BYVZDB3,ALCOA INC,438459934,15104010,NaN,NaN,NaN
2,AAL US,AAL,US02376R1023,BCV7KT2,AMERICAN AIRLINE,460581463,20302010,111710.0,11.0,1117.0
3,AAOI US,AAOI,NaN,BDW0D09,NaN,20140000,45201020,NaN,NaN,NaN
4,AAON US,AAON,US0003602069,2268130,Aaon Inc,52078515,20102010,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2302,INS US,INS,US45816D1000,2453419,Intelligent Systems,8882350,45103010,NaN,NaN,NaN
2303,LBRDA US,LBRDA,US5303071071,BRTLBY3,Liberty Broadband Corp,51988185,50201030,NaN,NaN,NaN
2304,NCNO US,NCNO,US63947U1079,BM9ZJT1,nCino,94367482,45103010,NaN,NaN,NaN
2305,RLAY US,RLAY,US75943R1023,BN2R582,Relay Therapeutics,90399972,35201010,NaN,NaN,NaN
2306,TH US,TH,US87615L1070,BJMYWL7,TDR Capital,101236253,25301020,NaN,NaN,NaN

In [92]:
display(git_2)

for tick, ind_group_code in zip(list(git_2["tic"]), list(git_2["gsubind"])):
  new_row = {'ticker':tick, 'code':int(ind_group_code)}
  tickers = tickers.append(new_row, ignore_index=True)

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,costat,ggroup,gind,gsector,gsubind,naics,sic
0,1004,20200531,2019.0,INDL,C,D,STD,AIR,AAR CORP,USD,A,2010,201010,20,20101010,423860,5080
1,1045,20191231,2019.0,INDL,C,D,STD,AAL,AMERICAN AIRLINES GROUP INC,USD,A,2030,203020,20,20302010,481111,4512
2,1050,20191231,2019.0,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,USD,A,2020,202010,20,20201050,333413,3564
3,1075,20191231,2019.0,INDL,C,D,STD,PNW,PINNACLE WEST CAPITAL CORP,USD,A,5510,551010,55,55101010,2211,4911
4,1076,20191231,2019.0,INDL,C,D,STD,PRG,PROG HOLDINGS INC,USD,A,4020,402020,40,40202010,522220,6141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2834,318728,20191231,2019.0,INDL,C,D,STD,ATH,ATHENE HOLDING LTD,USD,A,4030,403010,40,40301020,524113,6311
2835,325576,20191231,2019.0,INDL,C,D,STD,APG,API GROUP CORP,USD,A,2010,201030,20,20103010,238,1700
2836,326688,20191231,2019.0,INDL,C,D,STD,NVT,NVENT ELECTRIC PLC,USD,A,2010,201040,20,20104010,3323,3440
2837,328795,20191231,2019.0,INDL,C,D,STD,ACA,ARCOSA INC,USD,A,2010,201030,20,20103010,332312,3440
2838,345920,20191231,2019.0,INDL,C,D,STD,HYFM,HYDROFARM HLDNG GP INC,USD,A,2010,201060,20,20106015,333112,3524

In [93]:
display(git_3)

for tick, ind_group_code in zip(list(git_3["tic"]), list(git_3["gic_sub_industry"])):
  new_row = {'ticker':tick, 'code':int(ind_group_code)}
  tickers = tickers.append(new_row, ignore_index=True)

,tic,gic_sub_industry,gic_industry,gic_group,gic_sector,naics_industry,naics_group,naiscs_sector,sic_industry,sic_group,sic_sector
0,AIR,20101010,201010,2010,20,423860,4238,42,5080,508,50
1,AAL,20302010,203020,2030,20,481111,4811,48,4512,451,45
2,CECE,20201050,202010,2020,20,333413,3334,33,3564,356,35
3,PNW,55101010,551010,5510,55,2211,2211,22,4911,491,49
4,PRG,40202010,402020,4020,40,522220,5222,52,6141,614,61
...,...,...,...,...,...,...,...,...,...,...,...
2834,ATH,40301020,403010,4030,40,524113,5241,52,6311,631,63
2835,APG,20103010,201030,2010,20,238,238,23,1700,170,17
2836,NVT,20104010,201040,2010,20,3323,3323,33,3440,344,34
2837,ACA,20103010,201030,2010,20,332312,3323,33,3440,344,34
2838,HYFM,20106015,201060,2010,20,333112,3331,33,3524,352,35

In [94]:
display(git_4)

for tick, ind_group_code in zip(list(git_4["symbol"]), list(git_4["gics_subind"])):
  if ind_group_code >0:
    new_row = {'ticker':tick, 'code':int(ind_group_code)}
    tickers = tickers.append(new_row, ignore_index=True)

     symbol                          name             mc  gics_subind
0      AMGN                     AMGEN INC  116274.357086   35201010.0
1       EIX          EDISON INTERNATIONAL   25400.225262   55101010.0
2       SPA                  SPARTON CORP     172.265367   20101010.0
3       CPF  CENTRAL PACIFIC FINANCIAL CP     930.547294   40101015.0
4      SPTN                SPARTANNASH CO    1341.643975   30101020.0
...     ...                           ...            ...          ...
3839    XEC             CIMAREX ENERGY CO   11018.325159   10102020.0
3840    RPM         RPM INTERNATIONAL INC    7023.793993   15101050.0
3841   OFIX     ORTHOFIX INTERNATIONAL NV     748.416560   35101010.0
3842    DRQ                 DRIL-QUIP INC    1978.253682   10101020.0
3843   EXXI     ENERGY XXI GULF COAST INC     887.756745   10102020.0

[3844 rows x 4 columns]

In [95]:
display(git_6)


for tick, ind_group_code in zip(list(git_6["tic"]), list(git_6["gsubind"])):
  if ind_group_code >0:
    new_row = {'ticker':tick, 'code':int(ind_group_code)}
    tickers = tickers.append(new_row, ignore_index=True)

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,revt,cik,costat,ggroup,gind,gsector,gsubind,naics,sic
0,1004,20210531,2020,INDL,C,D,STD,AIR,AAR CORP,USD,1651.400,1750.0,A,2010.0,201010.0,20.0,20101010.0,423860.0,5080
1,1045,20211231,2021,INDL,C,D,STD,AAL,AMERICAN AIRLINES GROUP INC,USD,29882.000,6201.0,A,2030.0,203020.0,20.0,20302010.0,481111.0,4512
2,1075,20211231,2021,INDL,C,D,STD,PNW,PINNACLE WEST CAPITAL CORP,USD,3803.835,764622.0,A,5510.0,551010.0,55.0,55101010.0,2211.0,4911
3,1076,20211231,2021,INDL,C,D,STD,PRG,PROG HOLDINGS INC,USD,2677.920,1808834.0,A,4020.0,402020.0,40.0,40202010.0,522220.0,6141
4,1078,20211231,2021,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,USD,43075.000,1800.0,A,3510.0,351010.0,35.0,35101010.0,334510.0,3845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,326688,20211231,2021,INDL,C,D,STD,NVT,NVENT ELECTRIC PLC,USD,2462.000,1720635.0,A,2010.0,201040.0,20.0,20104010.0,3323.0,3440
1902,328795,20211231,2021,INDL,C,D,STD,ACA,ARCOSA INC,USD,2036.400,1739445.0,A,2010.0,201030.0,20.0,20103010.0,332312.0,3440
1903,331856,20211231,2021,INDL,C,D,STD,IMUX,IMMUNIC INC,USD,0.000,1280776.0,A,3520.0,352010.0,35.0,35201010.0,325414.0,2836
1904,339965,20220131,2021,INDL,C,D,STD,SNOW,SNOWFLAKE INC,USD,1219.327,1640147.0,A,4510.0,451020.0,45.0,45102030.0,518210.0,7370
1905,345980,20211231,2021,INDL,C,D,STD,WISH,CONTEXTLOGIC INC,USD,2085.000,1822250.0,A,2550.0,255020.0,25.0,25502020.0,454110.0,5961

In [96]:
%cd /content/drive/MyDrive/ece1786/Final-project

/content/drive/MyDrive/ece1786/Final-project

In [98]:
codes_to_find = list(tickers["code"])
gics_sub_codes = list(gics_mapping["Sub_Industry_id"])
gics_group_ind_id = list(gics_mapping["Industry_Group_id"])
gics_group_ind_name = list(gics_mapping["Industry_Group_name"])

final_df = pd.DataFrame(columns=['ticker', 'Industry_group_code','Industry_group_name'])

for tick, code in zip(list(tickers["ticker"]), codes_to_find):
  if code in gics_sub_codes:
    index = gics_sub_codes.index(code)
    new_row = {'ticker':tick, 'Industry_group_code':gics_group_ind_id[index], 'Industry_group_name':gics_group_ind_name[index]}
    final_df = final_df.append(new_row, ignore_index=True)

display(final_df)
final_df.to_csv("data_for_model.csv", index=False)

,ticker,Industry_group_code,Industry_group_name
0,A,3520,"Pharmaceuticals, Biotechnology & Life Sciences"
1,AA,1510,Materials
2,AAL,2030,Transportation
3,AAN,2550,Retailing
4,AAOI,4520,Technology Hardware & Equipment
...,...,...,...
16420,NVT,2010,Capital Goods
16421,ACA,2010,Capital Goods
16422,IMUX,3520,"Pharmaceuticals, Biotechnology & Life Sciences"
16423,SNOW,4510,Software & Services
16424,WISH,2550,Retailing